<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.embracesource.traffic.screen.dao.HitAndAccuracyDao">


    <select id="findHitAndAccuracy" resultType="map">
        select content as label,rate as count
        from view_hit_accuracy
    </select>
</mapper>