<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.embracesource.traffic.admin.dao.SysUserRoleRelationDao">

    <delete id="deleteByUserIdAndRoleId">
        delete
        from sys_user_role_relation surr
        where surr.role_id = #{roleId}
          and surr.user_id = #{userId}
    </delete>
</mapper>